@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader {
  border-top-color: gray;
  animation: spin 1.5s linear infinite;
}

@keyframes slideLeftOut {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 1;
  }
}

.slide-left-out {
  animation: slideLeftOut 0.2s ease-out forwards;
}

@keyframes slideRightIn {
  0% {
    transform: translateX(-100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.slide-right {
  animation: slideRightIn 0.2s ease-out forwards;
}

@keyframes slideUpFadeIn {
    0% {
      transform: translateY(10%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
.slide-up-fade-in {
animation: slideUpFadeIn 0.5s ease-out forwards;
}

@keyframes scaleUp {
    0% {
      transform: scale(0);
      transform-origin: top left;
    }
    100% {
      transform: scale(1);
      transform-origin: top left;
    }
  }
  
  .scale-up {
    animation: scaleUp 0.2s ease-out forwards;
  }
  
body {
  background: white;
  /* background: linear-gradient(to bottom right, #cbcbcb, #e7e7e7); */
  margin: 0; /* Remove default margin to ensure full coverage */
  height: 100vh; /* Ensure the body takes the full viewport height */
  width: 100%;
}

@font-face {
  font-family: 'reddit-sans-condensed';
  src: url('/RedditSansCondensed-VariableFont_wght.ttf');
}

.reddit-sans-condensed {
  font-family: 'reddit-sans-condensed';
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
input,
button {
  font-family: 'reddit-sans-condensed';
}